body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}
.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  width: 80%;
  margin: 3% auto;
  padding: 10px 30px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.section {
  padding-top: 80px;
  padding-bottom: 70px;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

p {
  font-size: 1.2em;
  line-height: 21px;
}

a {
  text-decoration: none;
  margin-top: 10px;
  display: block;
}
a {
  font-size: 1.5em;
}

#main {
  max-width: 1000px;
  margin: 0 auto;
}

/*=====================================*/
/*Color scheme*/
/*=====================================*/
.light-grey {
  background-color: #b9b9b9;
}

.light-grey-text {
  color: #b9b9b9;
}

.grey {
  background-color: #979797;
}

.grey-text {
  color: #979797;
}

.dark-grey {
  background-color: #767676;
}

.dark-grey-text {
  color: #767676;
}

.gunmetal {
  background-color: #393939;
}

.gunmetal-text {
  color: #393939;
}

.gainsboro {
  background-color: #e5e5e5;
}

.gainsboro-text {
  color: #e5e5e5;
}

.white {
  background-color: #eaeaea;
}

.white-text {
  color: #eaeaea;
}

.dim-grey {
  background-color: #898989;
}

.dim-grey-text {
  color: #898989;
}
/*=====================================*/

.date-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: left;
  margin: 0 5px;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: right;

}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
}

#skills-h3 {
  display: none;
}

.skill-item {
  border-radius: 25px;
  padding: 5px;
}

.box-shadow {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.sub-title {
  font-size: 1.8em;
  padding-top: 20px;
  margin-bottom: 10px;
}

.map-card {
  width:  80%;
  height:  80%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 25px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

.biopic {
  float: left;
  width: 200px;
  display: none;
  margin: 10px;
}

.projectpic {
  max-width: 200px;
  margin-top: 15px;
  margin-bottom: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */
@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

#map {
  display: block;
  height: 100%;
}

#mapDiv {
  height: 700px;
  width: 100%;
}
